/* cart.css */
/* Agrega estilos personalizados para la página del carrito */

/* Estilos para el botón de eliminar */
.cart-item form button {
    background-color: #114232; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    padding: 8px 12px; /* Ajusta el relleno */
    border: none; /* Elimina el borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    border-radius: 4px; /* Agrega bordes redondeados */
    transition: background-color 0.5s; /* Agrega una transición suave al color de fondo */

    /* Ajustes adicionales según sea necesario */
}

.cart-item form button:hover {
    background-color: rgb(167, 42, 42); /* Cambia el color de fondo al pasar el ratón */
}
