/* Agrega estilos específicos para checkout.php */

/* Estilos para los campos del formulario de pago */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid #08550cb6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(49, 138, 79, 0.616)
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #114232;
    border-radius: 4px;
}

/* Estilos para los botones del formulario de pago */
.button {
    background-color: #114232; /* Color similar al botón de eliminar */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #012009; /* Cambia el color al pasar el ratón sobre el botón */
}

/* Puedes ajustar estos estilos según el diseño y colores de tu sitio web */
